<!DOCTYPE html>
<html  >
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="/images/logo1.png" type="image/x-icon">
    <meta name="description" content="">

    <title>Home</title>
    <link rel="stylesheet" href="/icon54-v2/style.css">
    <link rel="stylesheet" href="/icon54-v4/style.css">
    <link rel="stylesheet" href="/linecons/style.css">
    <link rel="stylesheet" href="/icons-mind/style.css">
    <link rel="stylesheet" href="/icon54/style.css">
    <link rel="stylesheet" href="/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="/icon54-v3/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/tether/tether.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/formstyler/jquery.formstyler.css">
    <link rel="stylesheet" href="/formstyler/jquery.formstyler.theme.css">
    <link rel="stylesheet" href="/datepicker/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/dropdown/css/style.css">
    <link rel="stylesheet" href="/socicon/css/styles.css">
    <link rel="stylesheet" href="/theme/css/style.css">
    <link rel="stylesheet" href="/formoid-css/recaptcha.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.6/css/swiper.min.css">
    <link rel="stylesheet" href="/aos/dist/aos.css" />
    <link rel="preload" as="style" href="/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="preload" as="style" href="/mobirise/css/mbr-additional1.css">
    <link rel="stylesheet" href="/mobirise/css/mbr-additional1.css" type="text/css">
    <link rel="preload" as="style" href="/mobirise/css/mbr-additional2.css">
    <link rel="stylesheet" href="/mobirise/css/mbr-additional2.css" type="text/css">

    <style type="text/css">
        html, body {
            overflow-x: hidden;
        }
        body {
            overflow-y: hidden;
        }
        .item {
            width: 50%;
            height: 583px;
            /*margin: 50px auto;*/
            max-height: 600px;
            /*padding: 75px 20px;*/
            background: transparent;
            text-align: center;
            color: #FFF;
            font-size: 3em;
        }
        .item2 {
            width: 100%;
            height: 450px;
        }
        .screensize {
            height: 485px;
            /*height: 515px;*/
            margin: 110px auto 50px !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .divider {
            width: 200px;
            height: 450px;
            /*margin: 50px auto;*/
            max-height: 700px;
            /*padding: 75px 20px;*/
            background: transparent;
            text-align: center;
            color: #FFF;
            font-size: 3em;
        }
        .divider-less {
            height: 200px;
        }
        .divider2 {
            height: 250px;
        }
        .divider3 {
            height: 300px;
        }
        .divider4 {
             height: 650px;
         }
        .item span {
            display: block;
            font-size: 1rem;
        }
        .item--primary {
            position: fixed;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 0px;
            background: #FFFFFF;
        }
        .item--secondary {
            position: fixed;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 0px;
            background: #ffffff;
        }
        .more {
            left: 0;
            width: 100%;
        }

        #fullscreen {
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        section .img {
            height: 200px;
            width: 350px;
            border-radius: 20px;
            box-shadow: 0px 0px 7px 4px #00000042;
        }
        .screensize h2 {
            font-size: 28px;
        }
        .screensize h3 {
            font-size: 16px;
        }
        .screensize p {
            font-size: 14px;
        }
        .Pricing2 {
            padding-top: 100px;
        }

        .selectors {
            position: fixed;
            top: 0;
            left: -35px;
            width: 30px;
            background: rgba(72, 43, 231, 0.41);
            height: 100vh;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            z-index: 10;
        }
        .selectors .selector {
            border: 1px solid #fff;
            background: none;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            margin: 5px 0;
            opacity: 0.6;
            cursor: pointer;
            -webkit-transition: background .3s ease-in-out, opacity .3s ease-in-out;
            transition: background .3s ease-in-out, opacity .3s ease-in-out;
        }
        .selectors .selector:hover, .selectors .selector.active {
            background: white;
            opacity: 0.9;
        }
        .image-slide-1, .image-slide-2, .image-slide-3{
            height: 100%;
        }
        .phone_slide_img{
            width: 167px;
            height: 100%;
            display: block !important;
            /*position: absolute;*/
            top: 0;
            left: 0;
        }

        /* Smartphones (portrait and landscape) ----------- */
        @media only screen and (min-device-width : 320px) {/*only screen*/
            /* STYLES GO HERE */
            .item--primary {
                width: 100%;
            }
            .item--secondary {
                width: 100%;
            }
            #phone-section{
                display: none;
            }
            .screensize {
                height: 225px;
            }
            .item {
                height: 230px;
            }
            #trigger-services-left {
                height: 700px !important;
                max-height: 3500px;
            }
            #trigger-services-right {
                height: 1000px !important;
                max-height: 3500px;
            }
            #trigger-form {
                height: 1000px !important;
                max-height: 3500px;
            }
        }
        @media screen and (max-device-width : 480px) {/*only screen*/
            /* STYLES GO HERE */
            .item--primary {
                width: 100%;
            }
            .item--secondary {
                width: 100%;
            }
            #phone-section{
                display: none;
            }
        }
    </style>
</head>
<body>
<section class="menu2 cid-rP8hYIIkYb" once="menu" id="menu2-0" style="position: fixed;top: 0px; z-index: 100; width: 100%;">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <div class="col-lg-auto">
            <span class="navbar-logo">
                <a href="#">
                    <img src="images/logo1.png" alt="" style="height: 2rem;">
                </a>
            </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-warning display-7" href="#">
                    MarketM4</a></span>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse col-lg-auto" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item dropdown">
                        <a class="nav-link link dropdown-toggle text-warning display-4" href="#" aria-expanded="false" data-toggle="dropdown-submenu">
                            Specials
                        </a><div class="dropdown-menu">
                            <a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="true">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a><a class="dropdown-item text-warning display-4" href="#" aria-expanded="false">New Item</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown"><a class="nav-link link text-warning dropdown-toggle display-4" href="#" aria-expanded="true" data-toggle="dropdown-submenu">
                            Contact
                        </a><div class="dropdown-menu"><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a></div></li><li class="nav-item dropdown"><a class="nav-link link text-warning dropdown-toggle display-4" href="#" aria-expanded="false" data-toggle="dropdown-submenu">
                            Brand
                        </a><div class="dropdown-menu"><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a><a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">New Item</a></div></li><li class="nav-item"><a class="nav-link link text-warning display-4" href="#" aria-expanded="false">
                            Returns
                        </a></li></ul>

                <div class="navbar-buttons mbr-section-btn col-lg-auto"><a class="btn btn-sm btn-info-outline btn__none display-4" href="#">
                        Sign In</a> <a class="btn btn-sm btn-info display-4" href="#">
                        Sign Up</a></div>
            </div>
        </div></nav>
</section>

<!--<section class="spacer" style="width: 100%; height: 90px"></section>-->

<section id="fullscreen"></section>

<section id="phone-section" class="phone-frame" style="width: 100%;height: 100%;position:fixed;z-index: 30;top: 0;bottom: 0;left: 0;background: transparent;">
    <div id="device-wrapper" style="text-align: center;">
        <div class="inner-device-wrapper" style="padding-top: 150px;position: relative;text-align: center;display: inline-block;margin: auto;">
            <img src="/images/exam-phone.png" alt="phone_kunle" style="width: 220px; opacity: 1;">
            <div class="slides-images swiper-container" style="width: 76%;height: 55%;left: 25px;top: 203px;background: transparent;display: block;position: absolute;overflow: hidden;" data-aos="fade"
                 data-aos-anchor="#trigger-left" data-aos-duration="1000"
                 data-aos-anchor-placement="top-bottom"  data-aos-mirror="true">
                <div class="image-slide-1 swiper-wrapper" style="width: 510px">
                    <img class="phone_slide_img swiper-slide" src="/images/phone_images/wes-waec-scratch-card-form-1.png" alt="">
                    <img class="phone_slide_img swiper-slide" src="/images/phone_images/WACE_RESULT_CHECKER.jpg" alt="">
                    <img class="phone_slide_img swiper-slide" src="/images/phone_images/exam_result.jpg" alt="">
                </div>
            </div>

            <div class="slides-images swiper-container" style="width: 76%;height: 55%;left: 25px;top: 203px;background: transparent;display: block;position: absolute;overflow: hidden;" data-aos="fade"
                 data-aos-anchor="#trigger-center" data-aos-duration="1000"
                 data-aos-anchor-placement="top-bottom"  data-aos-mirror="true" >
                <div class="image-slide-2 swiper-wrapper">
                    <img class="phone_slide_img swiper-slide" src="/images/phone_images/check-neco-result-online.jpg" alt="">
                    <img class="phone_slide_img swiper-slide" src="/images/phone_images/neco-result-checker-token.png" alt="">
                    <img class="phone_slide_img swiper-slide" src="/images/phone_images/screenshot-neco-result.jpg" alt="">
                </div>
            </div>

            <div class="slides-images swiper-container" style="width: 76%;height: 55%;left: 25px;top: 203px;background: transparent;display: block;position: absolute;overflow: hidden;" data-aos="fade"
                 data-aos-anchor="#trigger-right"  data-aos-duration="1000"
                 data-aos-anchor-placement="top-bottom"  data-aos-mirror="true">
                <div class="image-slide-3 swiper-wrapper">
                    <img class="phone_slide_img swiper-slide" src="/images/phone_images/Jamb-result-slip%20(1).png" alt="">
                    <img class="phone_slide_img swiper-slide" src="/images/phone_images/JAMB-UTME-results.png" alt="">
                    <img class="phone_slide_img swiper-slide" src="/images/phone_images/jamb-result-slip.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="selectors">
    <div class="selector active" data-anchor="trigger-left"></div>
    <div class="selector" data-anchor="trigger-center"></div>
    <div class="selector" data-anchor="trigger-right"></div>
    <div class="selector" data-anchor="header9-3"></div>
    <div class="selector" data-anchor="trigger-services-left"></div>
    <div class="selector" data-anchor="trigger-services-right"></div>
    <div class="selector" data-anchor="trigger-form"></div>
    <div class="selector" data-anchor="footer2-9"></div>
</div>

<section id="stackMobileDiv1" class="item screensize item--secondary"
     data-aos="fade-up"
     data-aos-anchor="#trigger-left"
     data-aos-anchor-placement="top-bottom" data-aos-delay="400" data-aos-mirror="true">
    <div class="mbr-black col-lg-7 col-md-6 col-sm-9 content__block">
        <h3 class="mbr-section-subtitle ls2fw500 mbr-fonts-style display-4">IN TWO DAYS</h3>
        <h2 class="mbr-section-title mbr-bold mbr-fonts-style display-5">Special Gift</h2>
        <p class="mbr-text mbr-fonts-style display-4">Get 40% Off On Selected Items!</p>

    </div>
</section>

<section id="stackMobileDiv2" class="item screensize item--primary"
     data-aos="fade-left"
     data-aos-anchor="#trigger-left"
     data-aos-anchor-placement="top-bottom" data-aos-delay="400" data-aos-mirror="true">
        <img class="img" src="/images/cards/waec_checker.jpg" alt="" title="">
</section>
<section id="stackMobileDiv3" class="item screensize item--secondary"
     data-aos="fade-down"
     data-aos-anchor="#trigger-center"
     data-aos-anchor-placement="top-bottom" data-aos-delay="400" data-aos-mirror="true">
    <img class="img" src="/images/cards/neco_cheker.jpg" alt="" title="">
</section>

<section id="stackMobileDiv4" class="item screensize item--primary"
     data-aos="fade-up"
     data-aos-anchor="#trigger-center"
     data-aos-anchor-placement="top-bottom" data-aos-delay="400" data-aos-mirror="true">
    <div class="mbr-black col-lg-7 col-md-6 col-sm-9 content__block">
        <h3 class="mbr-section-subtitle ls2fw500 mbr-fonts-style display-4">IN TWO DAYS</h3>
        <h2 class="mbr-section-title mbr-bold mbr-fonts-style display-5">Special Gift</h2>
        <p class="mbr-text mbr-fonts-style display-4">Get 40% Off On Selected Items!</p>

    </div>
</section>
<section id="stackMobileDiv5" class="item screensize item--secondary"
     data-aos="fade-right"
     data-aos-anchor="#trigger-right"
     data-aos-anchor-placement="top-bottom" data-aos-delay="400" data-aos-mirror="false">
    <div class="mbr-black col-lg-7 col-md-6 col-sm-9 content__block">
        <h3 class="mbr-section-subtitle ls2fw500 mbr-fonts-style display-4">IN TWO DAYS</h3>
        <h2 class="mbr-section-title mbr-bold mbr-fonts-style display-5">Special Gift</h2>
        <p class="mbr-text mbr-fonts-style display-4">Get 40% Off On Selected Items!</p>

    </div>
</section>

<section id="stackMobileDiv6" class="item screensize item--primary"
     data-aos="fade-left"
     data-aos-anchor="#trigger-right"
     data-aos-anchor-placement="top-bottom" data-aos-delay="400" data-aos-mirror="false">
    <img class="img" src="/images/cards/jamb_utme_form.jpg" alt="" title="">
</section>
<!--<div class="divider">5</div>-->
<section
        data-aos="fade"
        data-aos-anchor="#trigger-services-left"
        data-aos-anchor-placement="top-center" data-aos-delay="100"
        data-aos-duration="100" data-aos-mirror="false" class="Pricing2 item--primary more cid-rPjhwi8uuS" id="pricing2-7">
    <div class="container text-center">
        <h2 class="mbr-section-title mbr-bold mbr-fonts-style display-5">OUR SERVICES</h2>
        <div class="row justify-content-center no-gutters">
            <div class="col-xl-10">
                <div class="row justify-content-lg-center">
                    <div class="col-lg-3 col-md-5 col-sm-6 mb-lg-0 card__wrapper">
                        <p class="title__card mbr-fonts-style display-7">Educational Consultancy</p>

                        <div class="mx-auto icons">
                            <span class="mbr-iconfont icon54-v3-graduation-hat"></span>
                        </div>

                        <p class="card__text mbr-fonts-style display-4">&nbsp;helps parents/students and organizations with educational planning.</p>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-6 mb-lg-0 card__wrapper">
                        <p class="title__card mbr-fonts-style display-7">Registration &amp; Sales of Scratch Cards</p>

                        <div class="mx-auto icons">
                            <span class="mbr-iconfont icon54-v2-user-security-card"></span>
                        </div>

                        <p class="card__text mbr-fonts-style display-4">Purchase the major Examinations scratch cards online&nbsp;<br></p>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-6 mb-lg-0 card__wrapper">
                        <p class="title__card mbr-fonts-style display-7">ICT Training<br><br></p>

                        <div class="mx-auto icons">
                            <span class="mbr-iconfont mbri-responsive"></span>
                        </div>

                        <p class="card__text mbr-fonts-style display-4">Training in usage of digital technology to send email, browse the internet etc.<br></p>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-6 mb-lg-0 card__wrapper">
                        <p class="title__card mbr-fonts-style display-7">Computer Sales and Repair</p>

                        <div class="mx-auto icons">
                            <span class="mbr-iconfont icon54-v3-desktop-computer"></span>
                        </div>

                        <p class="card__text mbr-fonts-style display-4">Sales of and, or identify, troubleshoot and resolving problems with a computer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section
        data-aos="fade"
        data-aos-anchor="#trigger-services-right"
        data-aos-anchor-placement="center-bottom" data-aos-delay="400"
        data-aos-duration="100" data-aos-mirror="false" class="Pricing2 item--secondary more cid-rPjhYUvv5b" id="pricing2-8">
    <div class="container text-center">
        <div class="row justify-content-center no-gutters">
            <div class="col-xl-10">
                <div class="row justify-content-lg-center">
                    <div class="col-lg-3 col-md-5 col-sm-6 mb-lg-0 card__wrapper">
                        <p class="title__card mbr-fonts-style display-7">Data &amp; word Processing</p>

                        <div class="mx-auto icons">
                            <span class="mbr-iconfont li_data"></span>
                        </div>

                        <p class="card__text mbr-fonts-style display-4">Creation, editing, formatting, storage, and output of both printed and online or electronic documents.</p>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-6 mb-lg-0 card__wrapper">
                        <p class="title__card mbr-fonts-style display-7">Desktop <br>Plublishing</p>

                        <div class="mx-auto icons">
                            <span class="mbr-iconfont imind-printer"></span>
                        </div>

                        <p class="card__text mbr-fonts-style display-4">Production of printed materials by means of a fast printers, this includes, advertising materials, company magazines.<br></p>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-6 mb-lg-0 card__wrapper">
                        <p class="title__card mbr-fonts-style display-7">Cisco Training CCNA &amp; CCNP<br></p>

                        <div class="mx-auto icons">
                            <span class="mbr-iconfont icon54-v1-mobile-network"></span>
                        </div>

                        <p class="card__text mbr-fonts-style display-4">This traing certifies the ability to install, set up, configure, troubleshoot and operate a computer network.<br></p>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-6 mb-lg-0 card__wrapper">
                        <p class="title__card mbr-fonts-style display-7">ID Cards<br><br></p>

                        <div class="mx-auto icons">
                            <span class="mbr-iconfont icon54-v4-users-card"></span>
                        </div>

                        <p class="card__text mbr-fonts-style display-4">A process of utilizing the ink panels from a color ribbon to apply the image onto or into &nbsp;the surface of a PVC card.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section
        data-aos="fade"
        data-aos-anchor="#trigger-form"
        data-aos-anchor-placement="top-center"
        data-aos-duration="100" data-aos-mirror="false"  class="contacts4 cid-rPp6vJRHrG item--secondary more" id="contacts4-d">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <h2 class="mbr-section-title align-center mbr-bold mbr-fonts-style display-5">Get in Touch with Us</h2>
                <p class="tel mbr-fonts-style display-4 align-center"><span class="fa fa-phone mbr-iconfont"></span>Call sales at +(123)456-78-90</p>
            </div>
        </div>
        <div class="subscribe__form text-left">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="d-flex" data-form-type="formoid">
                        <!--Formbuilder Form-->
                        <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form">
                            <input type="hidden" name="email" data-form-email="true" value="KtC32f88w9kfCDCqYPxDw4CTQs4Ho2WGWZFDpEmKBRFUYF8nXS6OLRoLkLZ3i7sDejzWCsp0xXLaY3LWtzm+QM9bMS0NhIpkV2TjBAJ5Ml4JKnH/LlD4drEvgYXVLydy.Hm/fNLfKsSYBM75/D0sXDNKZ29RoTknIKsTi9UwCqXRS0FsicjnvuA5EvJRUJpFCPicV7TbSYjiUVD9Eh0y5rslF+ulHw+5v7nc81PzAbr8/P8empz62gxMos2hKBQnD">
                            <div class="row">
                                <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                                <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12"> </div>
                            </div>
                            <div class="dragArea row">
                                <div class="col-lg-6 col-md-12 col-sm-12 form-group" data-for="text">
                                    <input type="text" name="text" placeholder="Full Name" data-form-field="text" class="form-control display-7" value="" id="text-contacts4-d">
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 form-group" data-for="email">
                                    <input type="email" name="email" placeholder="Your email" data-form-field="email" class="form-control display-7" value="" id="email-contacts4-d">
                                </div>
                                <div data-for="phone" class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <input type="tel" name="phone" placeholder="Your Phone" data-form-field="phone" class="form-control display-7" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="" id="phone-contacts4-d">
                                </div>
                                <div data-for="Message" class="col-lg-12 col-md-12 col-sm-12 -xl-7 form-group">
                                    <textarea name="Message" placeholder="Your message" data-form-field="Message" class="form-control display-7" id="Message-contacts4-d"></textarea>
                                </div>
                                <div class="col-sm-12 text-right input-group-btn">
                                    <button type="submit" class="btn btn-lg btn-info display-7">Send a Message</button>
                                </div>
                            </div>
                        </form>
                        <!--Formbuilder Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="item" id="trigger-left">1</div>
<div class="divider"></div>
<div class="item" id="trigger-center">2</div>
<div class="divider"></div>
<div class="item" id="trigger-right">3</div>
<!--<div class="item">4</div>-->
<section class="header9 cid-rP8if32RbC" id="header9-3">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(47, 24, 147);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row flex-column-reverse flex-md-row align-items-stretch text-center text-md-left">
                    <div class="col-lg-7 col-md-9 content__block text-white">
                        <h1 class="mbr-section-title mbr-bold mbr-fonts-style display-1">MarketM4 for digital goods</h1>
                        <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, perferendis!</p>
                        <div class="row bottom__block">


                            <div class="col-sm-6 card__bottom">
                                <span class="mbr-iconfont fa-cc-visa fa" style="font-size: 50px;"></span>
                                <p class="bottom__title mbr-fonts-style display-7">Visa</p>
                                <p class="bottom__text mbr-fonts-style display-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur?<br></p>
                            </div><div class="col-sm-6 card__bottom">
                                <span class="mbr-iconfont fa-cc-mastercard fa" style="font-size: 50px;"></span>
                                <p class="bottom__title mbr-fonts-style display-7">Mastercard</p>
                                <p class="bottom__text mbr-fonts-style display-4">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div></div>
                    </div>
                    <div class="col-lg-5 col-md-3 d-flex align-items-center image">
                        <img src="images/design41.png" alt="" title="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divider-less"></div>
<div class="item item2" id="trigger-services-left">5</div>
<div class="divider divider2"></div>
<div class="item item2" id="trigger-services-right">6</div>
<div class="divider4"></div>
<div class="item" id="trigger-form">7</div>
<div class="divider3"></div>
<!--<div class="item">8</div>-->
<section  class="footer2 cid-rPp6jngg2Y" id="footer2-9">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-2 order-0">
                <img class="logo__image" src="/images/logo1.png" alt="" title="">
            </div>
            <div class="col-xl-4 col-lg-9 order-2 order-xl-0">
                <p class="privacy mbr-fonts-style display-4">© 2020 Mobirise - All Rights Reserved</p>
            </div>
            <div class="my-xl-0 col-xl-6 order-1 order-xl-0 menu text-xl-right">
                <ul class="foot__menu">
                    <li class="menu__items mbr-fonts-style display-4">About us</li>
                    <li class="menu__items mbr-fonts-style display-4">Services</li>
                    <li class="menu__items mbr-fonts-style display-4">Portfolio</li>
                    <li class="menu__items mbr-fonts-style display-4">How it Works</li>
                    <li class="menu__items mbr-fonts-style display-4">Pricing</li>
                </ul>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row align-items-baseline">
            <div class="col-xl-9 col-md-8">
                <p class="mbr-text mbr-fonts-style display-4">Create awesome mobile-friendly websites! No coding and free.</p>
            </div>
            <div class="mt-md-0 col-xl-3 col-md-4 social text-md-right">
                <a href="#"><span class="mbr-iconfont fa-facebook-square fa"></span></a><a href="#"><span class="mbr-iconfont fa-twitter fa"></span></a><a href="#"><span class="mbr-iconfont fa-dribbble fa"></span></a><a href="#"><span class="mbr-iconfont fa-instagram fa"></span></a>
            </div>
        </div>
    </div>
</section>
<!--<div class="divider divider2"></div>-->
<!--<div class="item">9</div>-->
<!--<div class="item">10</div>-->
<!--<div class="item">11</div>-->
<!--<div class="item">12</div>-->


<script src="/web/assets/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.6/js/swiper.js"></script>
<script src="aos/dist/aos.js"></script>

<script type="text/javascript">
    let screenResize = false;

    AOS.init({
        duration: 200,
        // delay: 40,
        easing: 'ease-in-out-quad',
        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        mirror: true
    });

    document.addEventListener('aos:in', ({ detail }) => {
        console.dir(detail);
    });

    window.onresize = function (event) {
        applyOrientation();
    };

    function applyOrientation() {debugger;
        if (window.innerHeight < window.innerWidth) {//landscape

        } else {//portraite
            let element = document.querySelectorAll('.item');
            element.forEach((el, i)=> {
                if (el.getAttribute('data-aos-mirror'))
                    el.setAttribute('data-aos-mirror', 'false');
            })

            let triggerLeftTop = $('#trigger-left').offset().top;
            let triggerLeftBtm = $('#trigger-left').offset().bottom;
            let triggerCenter = $('#trigger-center').offset().top;
            let triggerRight = $('#trigger-right').offset().top;
            let HeaderTop = $('#header9-3').offset().top - 625;
            let service1Top = $('#trigger-services-left').offset().top-180;
            let service2Top = $('#trigger-services-right').offset().top+500;
            let formTop = $('#trigger-form').offset().top+200;

            // $('#phone-section').followTo(HeaderTop);
            $('#stackMobileDiv1').mobileRearrange(triggerLeftTop);
            $('#stackMobileDiv2').mobileRearrange(triggerLeftTop+230);
            $('#stackMobileDiv3').mobileRearrange(triggerLeftTop+(3*230));
            $('#stackMobileDiv4').mobileRearrange(triggerLeftTop+(2*230));
            $('#stackMobileDiv5').mobileRearrange(triggerLeftTop+(4*230));
            $('#stackMobileDiv6').mobileRearrange(triggerLeftTop+(5*230));
            $('#pricing2-7').mobileRearrange(service1Top);
            $('#pricing2-8').mobileRearrange(service2Top);
            $('#contacts4-d').mobileRearrange(formTop+300);
            // if (window.innerHeight < window.innerWidth) {
            //
            // } else {
            //
            // }
        }
    }

    $.fn.mobileRearrange = function (pos) {
        var $this = this,
            $window = $(window);
        debugger;

        $this.css({
            position: 'absolute',
            top: pos,
            // "z-index":100
        });
    };

    $.fn.followTo = function (pos) {
        let $this = this,
            $window = $(window);

        $window.scroll(function (e) {
            if ($window.scrollTop() > pos) {
                $this.css({
                    position: 'absolute',
                    top: pos,
                    // "z-index":100
                });
            } else {
                $this.css({
                    position: 'fixed',
                    top: 0
                });
            }
        });
    };

    //====start animation scroll to====
    function animateScrollTo() {
        let window = $(window);
        // data-aos-mirror="true"
        if(window.innerWidth > 1024) {
            let element = document.querySelectorAll('.item');
            element.forEach((el, i)=> {
                if (el.getAttribute('data-aos-mirror'))
                    el.setAttribute('data-aos-mirror', 'true');
            })

            let HeaderTop = $('#header9-3').offset().top - 625;
            let service1Top = $('#trigger-services-left').offset().top+200;
            let service2Top = $('#trigger-services-right').offset().top + 500;
            let formTop = $('#trigger-form').offset().top + 200;

            $('#phone-section').followTo(HeaderTop);
            $('#stackMobileDiv5').followTo(HeaderTop);
            $('#stackMobileDiv6').followTo(HeaderTop);
            $('#pricing2-7').followTo(service1Top);
            $('#pricing2-8').followTo(service1Top+1600);
            $('#contacts4-d').followTo(formTop);
        }
    }

    animateScrollTo();

    var mouse_position;
    var animating = false;
    //GET MOUSE POSITION
    $(document).mousemove(function (e) {
        //$("body").on("mousemove", function(mouse_pointer) {
        //console.log(mouse_pointer.pageX - $(window).scrollLeft());
        //mouse_position = mouse_pointer.pageX - $(window).scrollLeft();
        if (animating) {
            return;
        }
        mouse_position = e.clientX;

        if (mouse_position <= 100) {
            //SLIDE IN MENU
            animating = true;
            $('.selectors').animate({
                left: 0,
                opacity: 1
            }, 200, function () {
                animating = false;
            });
        } else if (mouse_position > 100) {
            animating = true;
            $('.selectors').animate({
                left: -35,
                opacity: 0
            }, 500, function () {
                animating = false;
            });
        }
    });

    function doNavigation(anchor){
        $('html, body').animate({
            scrollTop: $("#" + anchor).offset().top
        }, 2000);
    }

    $(".selector").click(function() {debugger;
        let anchor = $(this).data("anchor");

        doNavigation(anchor);

        $(".selector").removeClass("active");
        $(this).toggleClass("active");
    });


    $(document).ready(function(){
        let getscrolledId = null;
        $(window).on('scroll',function(){
            var Wscroll = $(this).scrollTop();
            $('div.item').each(function(){
                var ThisOffset = $(this).offset();
                if(Wscroll > ThisOffset.top &&  Wscroll < ThisOffset.top  + $(this).outerHeight(true)){
                    let scrolledId = $(this).attr('id'); // will return undefined if this anchor not has an Id
                   if(scrolledId !== getscrolledId) {
                       $(".selector").removeClass("active");
                       $(".selector").each((i, $this) => {
                           if ($this.dataset.anchor === scrolledId) {
                               $this.classList.add("active");
                           }
                       })
                   }
                    getscrolledId = scrolledId;
                }
            });
        });
    });

    let swiper = new Swiper('.swiper-container', {
        autoplay: {
            delay: 3000,
        },
        loop: true,
        on: {
            slideChangeTransitionStart: function () {
                $('.phone_slide_img').hide(0);
                $('.phone_slide_img').removeClass('aos-init').removeClass('aos-animate');
            },
            slideChangeTransitionEnd: function () {
                $('.phone_slide_img').show(0);
                // AOS.init();
            },
        }
    });

    // AOS.init();
</script>
<script src="/popper/popper.min.js"></script>
<script src="/tether/tether.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/smoothscroll/smooth-scroll.js"></script>
<script src="/formstyler/jquery.formstyler.js"></script>
<script src="/formstyler/jquery.formstyler.min.js"></script>
<script src="/datepicker/jquery.datetimepicker.full.js"></script>
<script src="/dropdown/js/nav-dropdown.js"></script>
<script src="/dropdown/js/navbar-dropdown.js"></script>
<script src="/touchswipe/jquery.touch-swipe.min.js"></script>
<script src="/theme/js/script.js"></script>
<script src="/formoid/formoid.min.js"></script>



</body>
</html>